*{
    background-color: #000814;
}

h1{
    text-align: center;
    color: whitesmoke;
}

#buttons{
    display: flex;
    justify-content: center;
}

#buttons button {
    margin: 10px;
    width: 255px;
    height: 55px;
    background-color: #403d39;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: whitesmoke;
    box-shadow: none;
    border: none;
}

#result{
    display: flex;
    justify-content: center;
}

#result h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

#scores{
    display:flex;
    justify-content: center;
    color: white
}

#scores .title{
    color: #f9dcc4;
    margin-right: 55px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

