h1{
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: center;
}

#buttons button {
    margin: 10px;
    width: 255px;
    height: 55px;
    background-color: #ccd5ae;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}